.contact-us-page {
  font-family: Arial, sans-serif;
  // padding: 40px 20px;
}


.hero {
  background: linear-gradient(135deg, #4162b2,#4162b2);
  color: white;
  text-align: center;
  padding: 100px 20px;
  animation: fadeIn 1s ease-out;
  margin-bottom: 40px;
}


.hero h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.hero p {
  font-size: 18px;
  color: #666;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Three columns layout
  gap: 20px;
}

.contact-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #4162b2;
}

.contact-info p {
  font-size: 16px;
  color: #333;
}

.contact-info .address, .contact-info .email, .contact-info .phone {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info .map {
  grid-column: span 2;  // Makes the map take the full width of the container
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info .email a {
  color: #4162b2;
  text-decoration: none;
}

.contact-info .email a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-info {
    grid-template-columns: 1fr;  // Stack the content on small screens
  }
}
