<div class="container">
<div class="contact-us-page mt-5 mb-2">
  <!-- Hero Section -->
  <div class="hero text-white">
    <h1 class="text-white">Contact Us</h1>
    <p class="text-white">We're here to help you. Reach out with any questions.</p>
  </div>

  <!-- Contact Information Section -->
  
  <div class="contact-info">
    <div class=" mb-3">
      <div class="address">
        <h3>Our Address</h3>
        <p>Office Number 18A, Pocket 14 Himgiri Apartment, Near Govindpuri Thana Delhi - 110019

        </p>
      </div>
      
      <div class="email">
        <h3>Email Us</h3>
        <p><a href="mailto:info@example.com">{{emails}}</a></p>

        <p><a href="mailto:info@example.com">{{email}}</a></p>
      </div>
      
      <div class="phone">
        <h3>Call Us</h3>
        <p>+123-456-7890</p>
        <p>+223-456-7890</p>
      </div>
  
     </div>

    

    <!-- Map Section -->
    <div class="map">
      <h3>Find Us On The Map</h3>
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12650.674981657353!2d-74.0060!3d40.7128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a7f8a3b5ab7%3A0x65b5c3d1c6f3eddd!2sNew+York+City%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1588192133370!5m2!1sen!2sin"
      frameborder="0"
      style="border:0; width: 100%; height: 450px;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"></iframe>
    
  </div>
</div>
</div>
