<section class="why-choose-us">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="section-title">Why Choose Smart Greek Consultancy</h2>
          <p class="section-subtitle">We connect talent with opportunity.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let reason of reasons" (mouseover)="reason.hovered = true" (mouseout)="reason.hovered = false">
          <div class="reason-card" [ngClass]="{'hovered': reason.hovered}">
            <div class="icon-container">
              <i [class]="reason.icon"></i>
            </div>
            <h3 class="reason-title">{{ reason.title }}</h3>
            <p class="reason-description">{{ reason.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>