<footer class="mt-auto bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About Us</h5>
        <p class="justify">
          At Smart Greek Consultancy, we are committed to bridging the gap
          between talented professionals and top employers. As a dedicated job
          placement agency, we specialize in connecting job seekers with the
          right opportunities, helping them build rewarding careers.
        </p>
      </div>
      <div class="col-md-2 mb-3">
      
      </div>
      <div class="col-md-3 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/" class="text-decoration-none text-white">Home</a>
          </li>

          <li>
            <a routerLink="/about-us" class="text-decoration-none text-white"
              >About Us</a
            >
          </li>

          <li>
            <a routerLink="/blog" class="text-decoration-none text-white"
              >Blog</a
            >
          </li>
          <li>
            <a routerLink="/all-job" class="text-decoration-none text-white"
              >All Jobs</a
            >
          </li>

          <li>
            <a routerLink="/login" class="text-decoration-none text-white"
              >Login</a
            >
          </li>

          <li>
            <a routerLink="/contact-us" class="text-decoration-none text-white"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5>Follow Us</h5>

        <ul class="list-inline social-icons">
          <li class="list-inline-item">
            <a
              href="https://www.facebook.com/share/18fwnWsNyA/"
              class="text-white"
              ><i class="bi bi-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://x.com/i/flow/login?redirect_after_login=%2FGreekPvt71533"
              class="text-white"
            >
              <i class="bi bi-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.whatsapp.com/channel/0029Vb25OZ39hXEwwxbZyJ1s"
              class="text-white"
            >
              <i class="bi bi-whatsapp"></i
            ></a>
          </li>

          <li class="list-inline-item">
            <a
              href="https://www.instagram.com/invites/contact/?igsh=1tqrtjwz9zaku&utm_content=xgcze04"
              class="text-white"
              ><i class="bi bi-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="mb-4" />
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2025 Smart Greek Consultancy. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
