<div class="container-fluid">
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- For Video -->
      <img src="https://catalog.wlimg.com/5/575711/other-images/432028.jpg" class="d-block w-100 custom-height" alt="Slide 1">
  
    </div>
    <div class="carousel-item">
      <!-- For Image -->
      <img src="https://catalog.wlimg.com/5/989242/other-images/483557.jpg" class="d-block w-100 custom-height" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <!-- For Image -->
      <img src="https://catalog.wlimg.com/5/575711/other-images/432026.jpg" class="d-block w-100 custom-height" alt="Slide 3">
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
