<div class="container">
  <h2 class="mt-4 text-center">Apply Job</h2>

  <div class="form-container">
    <form [formGroup]="contactForm" (submit)="onSubmit()"> <div class="form-group">
        <label for="email">Enter Your Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="invalid-feedback">
          <small *ngIf="contactForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="contactForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Enter Your name</label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="invalid-feedback">
          <small>Name is required.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="mobile">Enter Mobile Number</label>
        <input type="tel" id="mobile" class="form-control" formControlName="mobile">
        <div *ngIf="contactForm.get('mobile')?.invalid && contactForm.get('mobile')?.touched" class="invalid-feedback">
          <small *ngIf="contactForm.get('mobile')?.errors?.['required']">Mobile number is required.</small>
          <small *ngIf="contactForm.get('mobile')?.errors?.['pattern']">Invalid mobile number format.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="service_location">Your Service Location</label>
        <input type="text" id="service_location" class="form-control" formControlName="service_location">
      </div>

      <div class="form-group">
        <label for="query">Enter Your Query</label>
        <textarea id="query" class="form-control" formControlName="query" rows="4"></textarea>
        <div *ngIf="contactForm.get('query')?.invalid && contactForm.get('query')?.touched" class="invalid-feedback">
          <small *ngIf="contactForm.get('query')?.errors?.['maxlength']">Query exceeds 1000 characters.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="resume">Upload Your Resume</label>
        <div class="file-upload-container">
          <input type="file" id="resume" class="form-control-file" (change)="onFileSelected($event)">
          <i class="fas fa-cloud-upload-alt upload-icon"></i>
          <span class="file-name" *ngIf="!selectedFile">No file chosen</span>
          <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-3" [disabled]="contactForm.invalid">SUBMIT</button>
    </form>
 
  </div>
</div>